.registration{
    padding: 181px 0;
    .regform{
        padding: 70px 50px;

        .inputbox {
            border-radius: 5px;
            width: 250px;
            padding: 10px;
            margin-bottom: 23px;
        }
    }

}

.padding{
    padding: 146px 0 !important;
}
